pip==24.0
setuptools>=68.0.0
wheel
streamlit==1.31.0
Pillow==10.0.0
pypdfium2==4.20.0
pandas==2.1.4
numpy==1.26.3
scipy
moviepy==1.0.3
openai==0.28.1
gTTS==2.4.0
python-pptx==0.6.21
python-magic
tempfile
base64
